# Postgres
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Usado por apps/api (TypeORM)
DATABASE_URL=postgresql://example:example@db:5432/example

# Puertos
API_PORT=4000
WEB_PORT=3000

# Usado por apps/web para llamar a apps/api
NEXT_PUBLIC_API_URL=http://localhost:4000
